<div class="row">
  <div class="service-item col">
      <a href="#" target="_blank">
          <img src="assets/img/svg/delivery.svg">
      </a>
      <p>تحویل اکسپرس</p>
  </div>
  <div class="service-item col">
      <a href="#" target="_blank">
          <img src="assets/img/svg/contact-us.svg">
      </a>
      <p>پشتیبانی 24 ساعته</p>
  </div>
  <div class="service-item col">
      <a href="#" target="_blank">
          <img src="assets/img/svg/payment-terms.svg">
      </a>
      <p>پرداخت درمحل</p>
  </div>
  <div class="service-item col">
      <a href="#" target="_blank">
          <img src="assets/img/svg/return-policy.svg">
      </a>
      <p>۷ روز ضمانت بازگشت</p>
  </div>
  <div class="service-item col">
      <a href="#" target="_blank">
          <img src="assets/img/svg/origin-guarantee.svg">
      </a>
      <p>ضمانت اصل بودن کالا</p>
  </div>
</div>
