


  <form action="">
      <textarea class="form-control mb-3" rows="5"></textarea>
      <button class="btn btn-dark float-right ml-3" disabled="">ثبت پرسش</button>
      <div class="custom-control custom-checkbox float-right mt-2">
          <input type="checkbox" class="custom-control-input" id="customCheck3">
          <label class="custom-control-label" for="customCheck3">اولین پاسخی که به
              پرسش من داده شد، از طریق ایمیل به من اطلاع دهید.</label>
      </div>
  </form>

  <div class="comments-area default">
    <div
        class="section-title text-sm-title title-wide no-after-title-wide mt-5 mb-0 dt-sl">
        <h2>پرسش ها و پاسخ ها</h2>
        <p class="count-comment">123 پرسش</p>
    </div>
    <ol class="comment-list">
        <!-- #comment-## -->
        <li>
            <div class="comment-body">
                <div class="comment-author">
                    <span class="icon-comment">?</span>
                    <cite class="fn">حسن</cite>
                    <span class="says">گفت:</span>
                    <div class="commentmetadata">
                        <a href="#">
                            اسفند ۲۰, ۱۳۹۶ در ۹:۴۱ ب.ظ
                        </a>
                    </div>
                </div>



                <p>لورم ایپسوم متن ساختگی</p>

                <div class="reply"><a class="comment-reply-link" href="#">پاسخ</a></div>
            </div>
        </li>
        <!-- #comment-## -->

    </ol>
</div>







