<app-headersign style="text-align: center"></app-headersign>
<main class="main-content dt-sl mb-3" style="direction: rtl;">
  <div class="container main-container">
      <!-- Start title - breadcrumb -->
      <div class="title-breadcrumb-special dt-sl mb-3">
          <div class="breadcrumb dt-sl">
              <nav>
                  <a href="#">موبایل</a>
                  <a href="#">سامسونگ</a>
                  <a href="#">مدل Galaxy A50 SM-A505F/DS</a>
              </nav>
          </div>
      </div>
<div class="dt-sn mb-5 dt-sl">
  <div class="row">
      <!-- Product Gallery-->
      <div class="col-lg-4 col-md-6 ps-relative">
          <!-- Product Options-->
          <ul class="gallery-options">
              <li>
                  <button class="add-favorites"><i class="mdi mdi-heart"></i></button>
                  <span class="tooltip-option">افزودن به علاقمندی</span>
              </li>
          </ul>
          <div class="product-timeout position-relative pt-5 mb-3">
              <div class="promotion-badge">
                  فروش ویژه
              </div>
              <div class="countdown-timer" countdown data-date="10 24 2019 20:20:22">
                  <span data-days>0</span>:
                  <span data-hours>0</span>:
                  <span data-minutes>0</span>:
                  <span data-seconds>0</span>
              </div>
          </div>
          <div class="product-gallery">
              <span class="badge">پر فروش</span>
              <div class="product-carousel owl-carousel" data-slider-id="1">
                  <div class="item">
                      <a class="gallery-item" href="./assets/img/single-product/thumbnail-1.jpg"
                          data-fancybox="gallery1">
                          <img src="./assets/img/single-product/thumbnail-1.jpg" alt="Product">
                      </a>
                  </div>
                  <div class="item">
                      <a class="gallery-item" href="./assets/img/single-product/thumbnail-2.jpg"
                          data-fancybox="gallery1">
                          <img src="./assets/img/single-product/thumbnail-2.jpg" alt="Product">
                      </a>
                  </div>
                  <div class="item">
                      <a class="gallery-item" href="./assets/img/single-product/thumbnail-3.jpg"
                          data-fancybox="gallery1">
                          <img src="./assets/img/single-product/thumbnail-3.jpg" alt="Product">
                      </a>
                  </div>
                  <div class="item">
                      <a class="gallery-item" href="./assets/img/single-product/thumbnail-4.jpg"
                          data-fancybox="gallery1">
                          <img src="./assets/img/single-product/thumbnail-4.jpg" alt="Product">
                      </a>
                  </div>
              </div>
              <div class="d-flex justify-content-center flex-wrap">
                  <ul class="product-thumbnails owl-thumbs ml-2" data-slider-id="1">
                      <li class="owl-thumb-item active">
                          <a href="">
                              <img src="./assets/img/single-product/thumbnail-1.jpg" alt="Product">
                          </a>
                      </li>
                      <li class="owl-thumb-item">
                          <a href="">
                              <img src="./assets/img/single-product/thumbnail-2.jpg" alt="Product">
                          </a>
                      </li>
                      <li class="owl-thumb-item">
                          <a href="">
                              <img src="./assets/img/single-product/thumbnail-3.jpg" alt="Product">
                          </a>
                      </li>
                      <li class="owl-thumb-item">
                          <a href="">
                              <img src="./assets/img/single-product/thumbnail-4.jpg" alt="Product">
                          </a>
                      </li>
                  </ul>
                  <ul class="product-thumbnails">
                      <li>
                          <a class="navi-link text-sm" href="./assets/video/download.mp4"
                              data-fancybox data-width="960" data-height="640">
                              <i class="mdi mdi-video text-lg d-block mb-1"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- Product Info -->
      <div class="col-lg-8 col-md-6 py-2">
          <div class="product-info dt-sl">
              <div class="product-title dt-sl">
                  <h1>گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو سیم کارت ظرفیت 128گیگابایت
                  </h1>
                  <h3>Samsung Galaxy A50 SM-A505F/DS Dual SIM 128GB Mobile Phone</h3>
              </div>
              <div class="product-variant dt-sl">
                  <div class="section-title text-sm-title title-wide no-after-title-wide mb-0">
                      <h2>انتخاب رنگ:</h2>
                  </div>
                  <ul class="product-variants float-right ml-3">
                      <li class="ui-variant">
                          <label class="ui-variant ui-variant--color">
                              <span class="ui-variant-shape" style="background-color: #212121"></span>
                              <input type="radio" value="1" name="color" class="variant-selector"
                                  checked>
                              <span class="ui-variant--check">مشکی</span>
                          </label>
                      </li>
                      <li class="ui-variant">
                          <label class="ui-variant ui-variant--color">
                              <span class="ui-variant-shape" style="background-color: #f6f6f6"></span>
                              <input type="radio" value="3" name="color" class="variant-selector">
                              <span class="ui-variant--check">سفید</span>
                          </label>
                      </li>
                      <li class="ui-variant">
                          <label class="ui-variant ui-variant--color">
                              <span class="ui-variant-shape" style="background-color: #2196f3"></span>
                              <input type="radio" value="4" name="color" class="variant-selector">
                              <span class="ui-variant--check">آبی</span>
                          </label>
                      </li>
                  </ul>
              </div>
              <div class="product-params dt-sl">
                  <ul data-title="ویژگی‌های محصول">
                      <li>
                          <span>حافظه داخلی: </span>
                          <span> 256 گیگابایت </span>
                      </li>
                      <li>
                          <span>شبکه های ارتباطی: </span>
                          <span> 2G,3G,4G </span>
                      </li>
                      <li>
                          <span>رزولوشن عکس: </span>
                          <span> 12.0 مگاپیکسل</span>
                      </li>
                      <li>
                          <span>تعداد سیم کارت: </span>
                          <span> تک </span>
                      </li>
                      <li>
                          <span>ویژگی‌های خاص: </span>
                          <span> مقاوم در برابر آب
                              مناسب عکاسی
                              مناسب عکاسی سلفی
                              مناسب بازی
                              مجهز به حس‌گر تشخیص چهره
                          </span>
                      </li>
                  </ul>
                  <div class="sum-more">
                      <span class="show-more btn-link-border">
                          + موارد بیشتر
                      </span>
                      <span class="show-less btn-link-border">
                          - بستن
                      </span>
                  </div>
              </div>
              <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                  <h2>کد محصول:225566</h2>
              </div>
              <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                  <h2>قیمت : <span class="price">۳,۵۶۰,۰۰۰ تومان</span> </h2>
              </div>
              <div class="dt-sl mt-4">
                  <a href="#" class="btn-primary-cm btn-with-icon">
                      <img src="./assets/img/theme/shopping-cart.png" alt="">
                      افزودن به سبد خرید
                  </a>
              </div>
          </div>
      </div>
  </div>
  <div class="mb-add-to-cart-btn-wrapper">
      <a href="#" class="mb-add-to-cart-btn">افزودن به سبد خرید</a>
  </div>
</div>
<div class="ah-tab-wrapper border-bottom dt-sl">
  <div class="ah-tab dt-sl">

<a class="ah-tab-item" routerLink="info"><i class="mdi mdi-format-list-checks"></i>مشخصات</a>

<a class="ah-tab-item" routerLink="porshesh"><i class="mdi mdi-comment-question-outline"></i>پرسش و
  پاسخ</a>


</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>
</div>
</main>
