<div class="wrapper">
  <!-- Start main-content -->
  <main class="main-content dt-sl mt-4 mb-3">
      <div class="container main-container">
          <div class="row">
              <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                <div class="logo-area text-center mb-3">
                 <app-headersign></app-headersign>
                  </div>


                  <div class="auth-wrapper form-ui border pt-4">
                      <div class="section-title title-wide mb-1 no-after-title-wide">
                          <h2 class="font-weight-bold">ثبت نام</h2>
                      </div>
                      <div class="message-light">
                          اگر قبلا با ایمیل ثبت‌نام کرده‌اید، نیاز به ثبت‌نام مجدد با شماره همراه ندارید
                      </div>
                      <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">

                        <div *ngFor="let form_elem of formTemplate">
                                <div class="form-row-title">
                                   <label>{{ form_elem.label }}</label>
                                 <!-- <h3>ایمیل یا شماره موبایل</h3> -->
                                </div>
                                 <div [ngSwitch]="form_elem.type">

                                     <div *ngSwitchCase="'textBox'">
                                          <div class="form-row with-icon">
                                            <input type="text" formControlName="{{form_elem.label}}" class="input-ui pr-2"
                                                placeholder="{{form_elem.placeholders}}">
                                                 <i class="{{form_elem.icon}}"></i>
                                          </div>
                                     </div>


                                    <div *ngSwitchCase="'password'">
                                      <div class="form-row with-icon">
                                          <input type="password" formControlName="{{form_elem.label}}" class="input-ui pr-2"
                                           placeholder="{{form_elem.placeholders}}">
                                            <i class="{{form_elem.icon}}"></i>
                                      </div>
                                    </div>

                                    <div *ngSwitchCase="'checkbox'">
                                      <div class="form-row mt-2">

                                        <div class="custom-control custom-checkbox float-right mt-2">

                                        <input type="checkbox" formControlName="{{form_elem.label}}"   class="custom-control-input" id="customCheck3">
                                        <label class="custom-control-label text-justify" for="customCheck3">
                                         <a href="#">حریم خصوصی</a> و <a href="#">شرایط و قوانین</a> استفاده از سرویس
                                            های سایت دیدیکالا را مطالعه نموده و با کلیه موارد آن موافقم.
                                        </label>
                                      </div>
                                    </div>
                                    </div>
                            </div>
                            </div>

                          <div class="form-row mt-3">
                              <button type="submit" value="Save" class="btn-primary-cm btn-with-icon mx-auto w-100">
                                  <i class="mdi mdi-account-circle-outline"></i>
                                  ثبت نام در دیدیکالا
                              </button>
                          </div>
                      </form>
                      <div class="form-footer mt-3">
                          <div>
                              <span class="font-weight-bold">قبلا ثبت نام کرده اید؟</span>
                              <a  routerLink="/FormLogin" routerLinkActive="active-menu" class="mr-3 mt-2"> وارد شوید</a>
                              <router-outlet></router-outlet>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
  <!-- End main-content -->
  <!-- Start mini-footer -->
 <app-footersign></app-footersign>
  <!-- End mini-footer -->
</div>
