<header class="main-header">
  <app-menu-project></app-menu-project>

      <!-- Start ads -->
      <app-advertisingpage></app-advertisingpage>
      <!-- End ads -->


      <!-- Start topbar -->
      <div class="container main-container">
          <div class="topbar dt-sl">
              <div class="row">
                  <div class="col-lg-2 col-md-3 col-6">
                      <div class="logo-area">
                        <app-headersign></app-headersign>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-5 hidden-sm">
                      <div class="search-area dt-sl">
                        <app-searching></app-searching>
                      </div>
                  </div>
                  <div class="col-md-4 col-6 topbar-left">
                      <app-accounting></app-accounting>
                  </div>
              </div>
          </div>
      </div>
      <!-- End topbar -->

      <!-- Start bottom-header -->
      <div class="bottom-header dt-sl mb-sm-bottom-header">
          <div class="container main-container">
              <!-- Start Main-Menu -->
              <app-menu-bar></app-menu-bar>
              <!-- End Main-Menu -->
          </div>
      </div>
      <!-- End bottom-header -->
  </header>
