<ul class="main-menuTop">
  <!-- <li><a routerLink="/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact : false}">صفحه اصلی</a></li> -->
  <li><a href="#">صفحه اصلی</a></li>
  <li><a routerLink="/FormLogin" routerLinkActive="active-menu">ورود</a></li>
  <li><a routerLink="/FormRegister" routerLinkActive="active-menu">ثبت نام</a></li>
  <li><a routerLink="/FormPasswordschange" routerLinkActive="active-menu">تغییر رمز</a></li>
  <li><a routerLink="/cartempty" routerLinkActive="active-menu">سبد خالی خرید</a></li>
  <li><a routerLink="/verifyphonenumber" routerLinkActive="active-menu">تایید شماره</a></li>
  <li><a routerLink="/shopcomplete" routerLinkActive="active-menu">فرایند خرید نهایی</a></li>
  <li><a routerLink="/shopsingleproduct" routerLinkActive="active-menu">نمایش محصول</a></li>
</ul>
<router-outlet></router-outlet>
