  <div class="wrapper mt-3">
    <!-- Start header -->
   <app-header></app-header>



    <!-- End header -->
    <!-- Start main-content -->
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <!-- Start Main-Slider -->
            <div class="row mb-5">



                <aside class="sidebar col-lg-4 hidden-md order-2 pr-0 hidden-md">
                    <!-- Start banner -->
                    <div class="sidebar-inner dt-sl">
                        <div class="sidebar-banner">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="widget-banner mb-2">
                                       <app-startbanner *ngFor="let itemfilenamestartbaner of filenamestartbaner" [items]="itemfilenamestartbaner" ></app-startbanner>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End banner -->
                </aside>


                <div class="col-lg-8 col-md-12 order-1">
                  <!-- Start main-slider -->
                  <section id="main-slider"
                      class="main-slider main-slider-cs mt-1 carousel slide carousel-fade card hidden-sm"
                      data-ride="carousel"  *ngFor="let item of filenamemainslider">
                      <ol class="carousel-indicators"  >
                          <li data-target="#main-slider-res" class="{{item.active}}"></li>

                      </ol>
                      <div class="carousel-inner" >

                          <div class="carousel-item {{item.active}}">
                              <a class="main-slider-slide" href="#">
                                <app-mainslider  [itemsmainslider]="item"></app-mainslider>
                              </a>
                          </div>


                      </div>

                       <!-- <a class="carousel-control-prev" href="#main-slider-res" (click)="stops(item.id)">
                          <i class="mdi mdi-chevron-right"></i>
                      </a>
                      <a class="carousel-control-next" href="#main-slider-res"  (click)="stops(item.id)">
                          <i class="mdi mdi-chevron-left"></i>
                      </a> -->

                  </section>




                  <section id="main-slider-res"
                      class="main-slider carousel slide carousel-fade card d-none show-sm" data-ride="carousel"    *ngFor="let items of filenamemainslider">
                      <ol class="carousel-indicators" >
                        <li data-target="#main-slider-res" class="{{items.active}}"></li>

                    </ol>
                    <div class="carousel-inner" >

                      <div class="carousel-item {{items.active}}">
                          <a class="main-slider-slide" href="#">
                            <app-mainslider  [itemsmainslider]="items"></app-mainslider>
                          </a>
                      </div>


                  </div>
                      <!-- <a class="carousel-control-prev" href="#main-slider-res" role="button" data-slide="prev">
                          <i class="mdi mdi-chevron-right"></i>
                      </a>
                      <a class="carousel-control-next" href="#main-slider-res" data-slide="next">
                          <i class="mdi mdi-chevron-left"></i>
                      </a> -->
                  </section>
                  <!-- End main-slider -->
              </div>
            </div>
            <!-- End Main-Slider -->
        </div>
        <!-- Start Product-Slider -->
       <app-product-slider-amazingoffer [setcolor1]="color1"></app-product-slider-amazingoffer>

        <!-- End Product-Slider -->
       <app-bestselling></app-bestselling>
        <!-- Start Product-Slider -->
         <!-- Start Banner -->
  <div class="row mt-3 mb-5">
    <div class="col-sm-6 col-12 mb-2"*ngFor="let view1 of mediumbanner1 ">

        <div class="widget-banner">
            <a href="#">
                <app-startbanner  [items]="view1"></app-startbanner>
            </a>
        </div>
    </div>

</div>
<!-- End Banner -->
<app-product-slider-amazingoffer [setcolor2]="color2" ></app-product-slider-amazingoffer>
        <!-- End Product-Slider -->
        <div class="container main-container">
            <!-- Start Banner -->
            <div class="row mt-3 mb-5">
                <div class="col-md-3 col-sm-6 col-6 mb-2" *ngFor="let view1 of smallbanner ">
                    <div class="widget-banner">
                        <a href="#">
                          <app-startbanner  [items]="view1"></app-startbanner>

                        </a>
                    </div>
                </div>

            </div>
            <!-- End Banner -->
            <!-- Start Category-Section -->
            <app-categorysection></app-categorysection>
            <!-- End Category-Section -->
            <!-- Start Product-Slider -->
            <app-bestselling></app-bestselling>
            <!-- End Product-Slider -->
            <!-- Start Banner -->
            <div class="row mt-3 mb-5">
                <div class="col-12">
                    <div class="widget-banner">
                        <a href="#">
                          <app-startbanner *ngFor="let item of StartBanner2" [items]="item" ></app-startbanner>

                        </a>
                    </div>
                </div>
            </div>
            <!-- End Banner -->
            <!--اضافه کردن به محصولات لیست-->

            <!-- Start Feature-Product -->
          <app-featureproduct></app-featureproduct>
            <!-- End Feature-Product -->
            <!-- Start Brand-Slider -->
            <section class="slider-section dt-sl mb-5">
                <div class="row">
                    <!-- Start Product-Slider -->
                    <div class="col-12">
                        <div class="brand-slider carousel-lg owl-carousel owl-theme">
                            <div class="item" *ngFor="let item of brandcompany">
                              <app-startbanner  [items]="item" class="img-fluid" ></app-startbanner>


                            </div>

                        </div>
                    </div>
                    <!-- End Product-Slider -->

                </div>
            </section>
            <!-- End Brand-Slider -->
        </div>
    </main>
    <!-- End main-content -->
    <!-- Start footer -->
      <app-footer></app-footer>
    <!-- End footer -->
</div>


