
<div class="ah-tab-content-wrapper product-info px-4 dt-sl">

  <div class="ah-tab-content params dt-sl" data-ah-tab-active="true">
      <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
          <h2>مشخصات فنی</h2>
      </div>
      <div class="product-title dt-sl mb-3">
          <h1>گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو سیم کارت ظرفیت 128گیگابایت
          </h1>
          <h3>Samsung Galaxy A50 SM-A505F/DS Dual SIM 128GB Mobile Phone</h3>
      </div>
      <section>
          <h3 class="params-title">مشخصات کلی</h3>
          <ul class="params-list">
              <li>
                  <div class="params-list-key">
                      <span class="d-block">ابعاد</span>
                  </div>
                  <div class="params-list-value">
                      <span class="d-block">
                          7.7 × 70.9 × 143.6 میلی‌متر
                      </span>
                  </div>
                  <div class="params-list-value">
                      <span class="d-block">
                          7.7 × 70.9 × 143.6 میلی‌متر
                      </span>
                  </div>
                  <div class="params-list-value">
                      <span class="d-block">
                          7.7 × 70.9 × 143.6 میلی‌متر
                      </span>
                  </div>
              </li>
              <li>
                  <div class="params-list-key">
                      <span class="d-block">توضیحات سیم کارت</span>
                  </div>
                  <div class="params-list-value">
                      <span class="d-block">
                          سایز نانو (8.8 × 12.3 میلی‌متر)
                      </span>
                  </div>
              </li>
              <li>
                  <div class="params-list-key">
                      <span class="d-block">وزن</span>
                  </div>
                  <div class="params-list-value">
                      <span class="d-block">
                          174 گرم
                      </span>
                  </div>
              </li>
              <li>
                  <div class="params-list-key">
                      <span class="d-block">ویژگی‌های خاص</span>
                  </div>
                  <div class="params-list-value">
                      <span class="d-block">
                          مقاوم در برابر آب , مناسب عکاسی , مناسب عکاسی
                          سلفی , مناسب بازی , مجهز به حس‌گر تشخیص چهره
                      </span>
                  </div>
              </li>
              <li>
                  <div class="params-list-key">
                      <span class="d-block">تعداد سیم کارت</span>
                  </div>
                  <div class="params-list-value">
                      <span class="d-block">
                          تک سیم کارت
                      </span>
                  </div>
              </li>
          </ul>
      </section>
      <section>
          <h3 class="params-title">پردازنده</h3>
          <ul class="params-list">
              <li>
                  <div class="params-list-key">
                      <span class="d-block">تراشه</span>
                  </div>
                  <div class="params-list-value">
                      <span class="d-block">
                          Apple A11 Bionic Chipset
                      </span>
                  </div>
              </li>
              <li>
                  <div class="params-list-key">
                      <span class="d-block">نوع پردازنده</span>
                  </div>
                  <div class="params-list-value">
                      <span class="d-block">
                          64 بیت
                      </span>
                  </div>
              </li>
          </ul>
      </section>
  </div>

</div>

